<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>MMHeader</key>
		<string>打开设置后,立即收到推送消息</string>
		<key>MMFooter</key>
		<string></string>
		<key>MMItems</key>
		<array>
			<dict>
				<key>MMTitle</key>
				<string>双色球</string>
				<key>MMAccessoryType</key>
				<string>UISwitch</string>
				<key>MMSubtitle</key>
				<string>每周二、四、日开奖</string>
				<key>MMCellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>MMKeyName</key>
				<string>settingPush1_ssq</string>
			</dict>
			<dict>
				<key>MMTitle</key>
				<string>大乐透</string>
				<key>MMAccessoryType</key>
				<string>UISwitch</string>
				<key>MMSubtitle</key>
				<string>每周二、四、日开奖</string>
				<key>MMCellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>MMKeyName</key>
				<string>settingPush1_dlt</string>
			</dict>
			<dict>
				<key>MMTitle</key>
				<string>3D</string>
				<key>MMAccessoryType</key>
				<string>UISwitch</string>
				<key>MMSubtitle</key>
				<string>每周二、四、日开奖</string>
				<key>MMCellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>MMKeyName</key>
				<string>settingPush1_3d</string>
			</dict>
			<dict>
				<key>MMTitle</key>
				<string>七乐彩</string>
				<key>MMAccessoryType</key>
				<string>UISwitch</string>
				<key>MMSubtitle</key>
				<string>每周二、四、日开奖</string>
				<key>MMCellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>MMKeyName</key>
				<string>settingPush1_qlc</string>
			</dict>
			<dict>
				<key>MMTitle</key>
				<string>七星彩</string>
				<key>MMAccessoryType</key>
				<string>UISwitch</string>
				<key>MMSubtitle</key>
				<string>每周二、四、日开奖</string>
				<key>MMCellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>MMKeyName</key>
				<string>settingPush1_qxc</string>
			</dict>
			<dict>
				<key>MMTitle</key>
				<string>排列三</string>
				<key>MMAccessoryType</key>
				<string>UISwitch</string>
				<key>MMSubtitle</key>
				<string>每周二、四、日开奖</string>
				<key>MMCellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>MMKeyName</key>
				<string>settingPush1_pl3</string>
			</dict>
			<dict>
				<key>MMTitle</key>
				<string>排列5</string>
				<key>MMAccessoryType</key>
				<string>UISwitch</string>
				<key>MMSubtitle</key>
				<string>每周二、四、日开奖</string>
				<key>MMCellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>MMKeyName</key>
				<string>settingPush1_pl5</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
